# python
__pycache__/
*.py[oc]
/build/
/dist/
/wheels/
*.egg-info/

# virtual env
.venv/
venv/

# pipeline artifacts
/data/

# prototyping
/notebooks/
/docs/

# env variables
.env
.env.*
!.env.example

# vscode pylance
.vscode/

# web-ui dependencies
/web-ui/node_modules/
/web-ui/.pnp
/web-ui/.pnp.*
/web-ui/.yarn/*
!/web-ui/.yarn/patches
!/web-ui/.yarn/plugins
!/web-ui/.yarn/releases
!/web-ui/.yarn/versions

# testing
/web-ui/coverage/

# next.js
/web-ui/.next/
/web-ui/out/

# production
/web-ui/build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
/web-ui/.vercel/

# typescript
/web-ui/*.tsbuildinfo
/web-ui/next-env.d.ts